# Node
node_modules
npm-debug.log
package-lock.json

# Hardhat
cache
artifacts
typechain-types

# Ganache
.ganache

# Environment variables
.env

# MacOS
.DS_Store

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Build
build
dist
out
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
